@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  flex-direction: column;
}

.card-input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
}

.card-input input {
  font-family: 'Poppins';
  outline: none;
  border: none;
  border-bottom: 3px solid crimson;
  text-align: center;
}

.card-input button {
  font-family: 'Poppins';
  background-color: crimson;
  padding: 10px;
  width: 100px;
  align-self: center;
  border: none;
  border-radius: 20px;
  color: #FFF;
  font-weight: bold;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
  opacity: .4;
}

.card-input button:hover{
  transition: all .3s ease-in-out;
  opacity: 1;
}

.card-result {
  display: flex;
  border: none;
  background-color: crimson;
  color: #FFF;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 25px #333;
  margin-top: 20px;
}

.card-result .card-content .header-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-result .card-content .header-card img {
  width: 64px;
  height: 64px;
}

.card-result .card-content .text-card {
  display: flex;
  flex-direction: column;
}

.card-result .card-content .text-card #temp {
  font-size: 60px;
  text-align: center;
}

.card-result .card-content .text-card .description {
  text-align: center;
}

.card-result .card-content .text-card .description #text-description::before {
  content: '-'
}